<div class="main-header-block">
    <div class="bg-gray-3" [style]="visibility3" (click)="sideMenuToggle()"></div>
    <div class="main-header-block__1">
        <nav class="navbar navbar-expand-lg bg-light p-0 nav-cont bg-white w-100">
            <div class="container-fluid p-0 all-menu">
                <a class="navbar-brand logo" [routerLink]="'/home'" (click)=" scrollToTop()"></a>
                <div class="collapse navbar-collapse category-bar" id="navbarSupportedContent">
                    <ul class="category navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item category-box category-box__1" [routerLink]="'/discount'"
                            (click)=" scrollToTop()">
                            <div class="container-fluid d-flex flex-column">
                                <div></div>
                                <span>Акції</span>
                            </div>
                        </li>
                        <li class="nav-item category-box category-box__2" [routerLink]="'/product/rolls'"
                            (click)=" scrollToTop()">
                            <div class="container-fluid d-flex flex-column">
                                <div></div>
                                <span>Роли</span>
                            </div>
                        </li>
                        <li class="nav-item category-box category-box__3" [routerLink]="'/product/set'"
                            (click)=" scrollToTop()">
                            <div class="container-fluid d-flex flex-column">
                                <div></div>
                                <span>Сети</span>
                            </div>
                        </li>
                        <li class="nav-item category-box category-box__4" [routerLink]="'/product/drinks'"
                            (click)=" scrollToTop()">
                            <div class="container-fluid d-flex flex-column">
                                <div></div>
                                <span>Напої</span>
                            </div>
                        </li>
                        <li class="nav-item category-box category-box__5" [routerLink]="'/product/sauces'"
                            (click)=" scrollToTop()">
                            <div class="container-fluid d-flex flex-column">
                                <div></div>
                                <span>Соуси</span>
                            </div>
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col d-flex flex-column">
                            <div ngbDropdown class="d-inline-block">
                                <button type="button" class="btn drpdwn" id="dropdownBasic1" ngbDropdownToggle
                                    (click)="changeValue()" [style]="toolDrpdwnMenu"
                                    (blur)="drpdwnMenu=true;changeValue()"></button>
                                <div class="drpdwn-menu" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button ngbDropdownItem [routerLink]="'/delivery-and-payment'"
                                        (click)="scrollToTop()">Доставка та
                                        оплата</button>
                                    <button ngbDropdownItem [routerLink]="'/about-us'" (click)=" scrollToTop()">Про
                                        нас</button>
                                    <button ngbDropdownItem [routerLink]="'/discount'"
                                        (click)=" scrollToTop()">Акції</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container we-will-call">
                    <button class="we-will-call__btn" (click)="callToggle()">
                        <div class="img-phone"></div>
                        <span>МИ ЗАТЕЛЕФОНУЄМО</span>
                    </button>
                </div>
                <div class="container phone-box">
                    <a href="tel:097878098977">(097) 878 08 37</a>
                    <div>Працюємо з <strong>11:00</strong> до <strong>21:30</strong></div>
                </div>
                <div class="container admin-in">
                    <a href="tel:097878098977" class="cell-phone"></a>
                    <ng-container *ngIf="!loginAdminCheck && !loginUserCheck">
                        <button type="button" class="btn admin-office" (click)="loginToggle();initAuthForm()"
                            (click)=" scrollToTop()"></button>
                    </ng-container>
                    <ng-container *ngIf="loginAdminCheck && !loginUserCheck">
                        <button type="button" class="btn admin-office" [routerLink]="'/admin'" (click)=" scrollToTop()"
                            style="line-height: 1px;">*</button>
                    </ng-container>
                    <ng-container *ngIf="loginUserCheck && !loginAdminCheck">
                        <button type="button" class="btn admin-office" [routerLink]="'/account'"
                            (click)=" scrollToTop()" style="line-height: 1px;"></button>
                    </ng-container>

                    <button type="button" class="btn drpdwn-2" (click)="sideMenuToggle()"
                        [style]="toolsideMenu"></button>
                </div>
                <button type="button" class="container basket-in" (click)="basketToggle()">
                    <div class="basket-in__img">
                        <div class="bascket-before" [style]="toolBasketBg"></div>
                    </div>
                    <div class="basket-in__count">
                        <div class="basket-in__count__circle" [style]="toolcountArtBg">{{countArticle}}</div>
                    </div>
                    <div class="basket-in__count-cash"><strong>{{ total }}</strong><span>грн</span></div>
                </button>
            </div>
        </nav>
    </div>
</div>
<div class="bg-gray-1" [style]="visibility1" (click)="basketToggle()"></div>
<div class="basket-out" [style]="visibility1">
    <div class="basket-out__block-1">
        <ng-container *ngIf="basket.length < 1">
            <div class="nothing-here">
                <div></div>
                <p><strong>Кошик порожній</strong></p>
                <button type="button" class="to-home-page-btn" [routerLink]="['/home']"
                    (click)="basketToggle()"><strong>ПЕРЕЙТИ ДО
                        КАТАЛОГУ</strong></button>
            </div>
        </ng-container>
        <ng-container *ngFor="let product of basket">
            <div class="product-to-buy">
                <div class="product-to-buy__img col-3">
                    <img [src]="product.imagePath">
                </div>
                <div class="product-to-buy__name col-4">
                    <span><strong>{{product.name}}</strong></span>
                </div>
                <div class="product-to-buy__order">
                    <div class="product-to-buy__order__2">
                        <button (click)="productCount(product, false)" class="decrement">-</button>
                        <input [value]="product.count" type="text" readonly class="product-qty">
                        <button (click)="productCount(product, true)" class="increment">+</button>
                    </div>
                    <div class="product-to-buy__order__1">
                        <strong><span>{{product.price * product.count}}</span></strong>
                        <span> грн</span>
                    </div>
                    <div class="product-to-buy__order__3">
                        <button></button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="basket-out__block-2">
        <div>
            <p>Сума: <strong>{{ total }}</strong> грн</p>
        </div>
        <button type="button" [disabled]="basket.length < 1" [routerLink]="'/checkout'"
            (click)="basketToggle()"><strong>ОФОРМИТИ
                ЗАМОВЛЕННЯ</strong></button>
    </div>
</div>

<div class="bg-gray-2" [style]="willCallCheck?visibility2:visibility4"
    (click)="willCallCheck?callToggle():loginToggle()"></div>

<div class="call-bg" [style]="visibility2">
    <div class="form-to-call" [style]="visibility2">
        <div class="form-to-call__close-box">
            <button type="button" (click)="callToggle()">x</button>
        </div>
        <div class="form-to-call__text-box">
            <p class="form-to-call__text-box__t1">МИ ЗАТЕЛЕФОНУЄМО</p>
            <p class="form-to-call__text-box__t2">Залиште номер телефону і наші менеджери зв’яжуться з вами</p>
        </div>
        <div class="form-to-call__box">
            <form>
                <div class="mb-3">
                    <input type="name" name="your-name" class="form-control" aria-describedby="emailHelp"
                        placeholder="Ваше ім'я" aria-required="true" aria-invalid="true">
                </div>
                <div class="mb-3">
                    <input type="text" name="your-phone" class=" input inputmask form-control input inputmask"
                        aria-required="true" aria-invalid="true" placeholder="Ваш номер телефону">
                </div>
                <button type="submit" class="btn btn-primary">НАДІСЛАТИ</button>
            </form>
        </div>
    </div>
</div>

<ng-container *ngIf="loginModalCheck && !loginAdminCheck && !loginUserCheck">
    <div class="call-bg" [style]="visibility4">
        <div class="form-to-login" [style]="visibility4">
            <div class="form-to-login__close-box">
                <button type="button" (click)="loginToggle()">x</button>
            </div>
            <div class="form-to-login__box">
                <div class="form-to-login__text-box">
                    <p class="form-to-login__text-box__t1">Вхід в кабінет</p>
                </div>
                <form [formGroup]="authForm" (ngSubmit)="login();loginToggle()">
                    <div class="mt-5 mb-3">
                        <input formControlName="email" type="email" class="form-control" autocomplete="email"
                            placeholder="Ваша почтова адреса">
                    </div>
                    <div class="mb-3">
                        <input formControlName="password" type="password"
                            class="input inputmask form-control input inputmask" placeholder="Ваш пароль">
                    </div>
                    <button [disabled]="authForm.invalid" type="submit" class="btn btn-primary">УВІЙТИ В
                        КАБІНЕТ</button>
                </form>
            </div>
        </div>
    </div>
</ng-container>

<div class="side-menu" [style]="visibility3">
    <div class="side-menu__box1">
        <div class="container-fluid d-flex flex-row sauces-2">
            <div></div>
            <span>Соуси</span>
        </div>
        <div class="d-flex flex-column">
            <a [routerLink]="'/delivery-and-payment'" class="py-2" (click)=" scrollToTop()">Доставка та оплата</a>
            <a [routerLink]="'/about-us'" class="py-2" (click)=" scrollToTop()">Про нас</a>
            <a [routerLink]="'/discount'" class="py-2" (click)=" scrollToTop()">Акції</a>
        </div>
        <div class="container phone-box-2 py-3">
            <a href="tel:097878098977">(097) 878 08 37</a>
            <div>Працюємо з <strong>11:00</strong> до <strong>21:30</strong></div>
        </div>
    </div>
    <div class="we-will-call-2">
        <button class="we-will-call-2__btn" (click)="callToggle()">
            <div class="img-phone-2"></div>
            <span>МИ ЗАТЕЛЕФОНУЄМО</span>
        </button>
    </div>
</div>