<div class="banner-align mb-5">
    <div class="bg-full">
        <div class="bg-full__info">
            <div class="bg-full__info__header">
                <p class="m-0"> Ми - це доставка <span>щастя</span>. </p>
                <p> <span>Monosushi</span> - Ми любимо коли тобі смачно.</p>
            </div>
            <p class="bg-full__info__text">
                Найсмачніші сушки чекають на тебе. Не барись, а обирай свої улюблені позіції і вже скоро вони будуть у
                тебе!
            </p>
            <button>ДЕТАЛЬНІШЕ</button>
        </div>
    </div>
    <div class="after-banner">
        <div class="after-banner__item-1">
            <div class="after-banner__item-1__img"></div>
            <button [routerLink]="'/delivery-and-payment'" (click)="scrollToTop()">ЗОНА ДОСТАВКИ</button>
        </div>
        <div class="after-banner__item-line"></div>
        <div class="after-banner__item-2">
            <div class="after-banner__item-2__img"></div>
            <div class="after-banner__item-2__text">
                <p>Середній час доставки в</p>
                <p>зеленій зоні <strong>00:43:00</strong> </p>
            </div>
        </div>
        <div class="after-banner__item-line"></div>
        <div class="after-banner__item-3">
            <div class="after-banner__item-3__img"></div>
            <div class="after-banner__item-3__text">
                <p>Наш графік роботи</p>
                <p>Працюємо з <strong>11:00</strong> до <strong>21:30</strong></p>
            </div>
        </div>
    </div>
</div>

<app-product></app-product>

<div class="info-delivery">
    <div class="info-delivery__text" [style.height]="!buttonNameStatus?'auto':'260px'">
        <h1>Доставка суші у Львові від "Monosushi"</h1>
        <p><strong>Безкоштовна доставка суші у Львові Monosushi.</strong></p>
        <p>Нам 1 рік, а ми вже підкорили серця багатьох львів’ян. І це лише початок! Адже кожного місяця ми стараємось
            для
            Вас і
            стаємо кращими у кожному аспекті. Ми не ті, про кого кажуть: «Зіпсувались». Ми вкладаємо всю душу в нашу
            компанію та
            радіємо кожному Вашому позитивному відгуку!</p>


        <p><strong>Чому ми?</strong></p>
        <ol>
            <li>
                <strong>Якість продуктів.</strong>Спробувавши десятки різних доставок ми зрозуміли, що запорукою та
                секретом смаку завжди є свіжі та якісні продукти. Саме
                тому ми з особливим трепетом та уважністю обираємо продукти, які поїдуть до нас на кухню.
            </li>
            <li>
                <strong>Неймовірний смак.</strong>Так, ми Вас розуміємо. Важко в це повірити коли кожна доставка обіцяє
                «смачний продукт». Проте, ми використовуємо
                інгредієнти, які за якістю є на порядок вище тих, які використовуть наші конкуренти у своїх рецептах. Ми
                не економимо і
                використовуємо лише найбільш якісні та дорогі продукти для створення наших страв! Ну і чого тільки варті
                наші Запечені
                сирні суші! Вони однозначно є хедлайнерами нашого меню! Це те, чого Ви раніше ще точно не куштували!
            </li>
            <li>
                <strong>Великі порції.</strong>Ми любимо смачно та ситно поїсти! Впевнені, Ви теж! Тому, ми з неабияким
                захватом підійшли до розробки грамажу наших
                ролів. Ми намагались віднайти ідеальний розмір аби наші моносуші були доволі ситними, але в той же час
                комфортними для
                споживання.
                Також, кожного разу при приготуванні ролів ми використовуємо ваги аби страва відповідала грамажу
                вказаному на сайті!
            </li>
            <li>
                <strong>Абсолютна чистота на кухні.</strong>При приготуванні страв ми притримуємось усіх санітарних норм
                та правил аби Ви могли бути на 100% впевнені в якості та
                безпечності страв.
            </li>
            <li>
                <strong>Гарне упакування та уважність до деталей!</strong>Monosushi – були створені командою
                перфекціоністів, тому кожна деталь нашого упакування продумана до дрібниць
            </li>
        </ol>
        <ul>
            <li>Фотографії продуктів несуть ознайомчий характер і можуть відрізнятися від оригіналу.</li>
            <li>Замовлення вважається прийнятим з моменту опрацювання його оператором колл-центру дзвінком до клієнта.
            </li>
        </ul>
    </div>
    <div class="info-delivery__button">
        <button class="info-delivery__button__btn" (click)="btnNameChange()"><strong>{{ buttonName }}</strong></button>
    </div>

</div>