@import "../../shared/style/variables";

.banner-align {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 650px;
  .bg-full {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .after-banner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
    background-color: $mainColor;
    background-image: url(../../../assets/sushi-image/home/bg-monosushi-logo.svg),
      url(../../../assets/sushi-image/home/bg-monosushi-logo.svg);
    background-repeat: repeat;
    background-position: 0 0, 190px -52px;
  }
}

@media all and (min-width: 768px) {
  .bg-full {
    background-image: url(../../../assets/sushi-image/banner-img-1-1920x650.jpg);
  }
}
@media all and (max-width: 768px) {
  .bg-full {
    background-image: url(../../../assets/sushi-image/banner-img-1-mob-650x650.jpg);
  }
}
