<header>
    <div>
        <div class="blue-line"></div>
        <h1>Про нас</h1>
    </div>
    <div class="about-us">
        <div class="about-us__box1">
            <p class="about-us__box1_text1">Monosushi – доставка неймовірно смачних суші у Львові.</p>
            <p class="about-us__box1_text2">Головний пріоритет – висока якість їжі та сервісу. Ми – команда
                професіоналів, яка щодня працює для
                Вас. Якість та Швидкість! – це два основних пріоритети в роботі команди. В першу чергу звичайно ж
                Якість. Суші готуються без затримок, одразу ж після Вашого замовлення. А завдяки сучасним технологіям та
                відповідальному навчанню працівників, свіжі страви можливо доставляти до 59 хв в 75% замовлень.</p>
            <ul>
                <li>висока якість їжі та сервісу</li>
                <li>команда професіоналів</li>
                <li>сучасні технології приготування</li>
            </ul>
        </div>
        <div class="about-us__box2">
            <div class="about-us__box2_img"></div>
            <div class="about-us__box2_text"></div>
        </div>
        <div class="about-us__box3">
            <div class="about-us__box3_text"></div>
            <div class="about-us__box3_img"></div>
        </div>
        <div class="about-us__box4">
            <div class="about-us__box4_text"></div>
            <!-- Carousel -->
        </div>
        <div class="about-us__box5">
            <div class="about-us__box5_text"></div>
            <div class="about-us__box5_question1"></div>
            <div class="about-us__box5_question2"></div>
            <div class="about-us__box5_question3"></div>
            <div class="about-us__box5_question4"></div>

        </div>
    </div>
</header>