/* You can add global styles to this file, and also import other style files */
@import "../src/app/shared/style/fonts";
@import "../src/app/shared/style/variables";
@import "~bootstrap/scss/bootstrap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito;
}
/* Importing Bootstrap SCSS file. */

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100vw;
  height: auto;
  overflow: visible;
}
app-root {
  display: block;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: $mainColor;
}
